*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}





 .carousel-inner img{
     max-height: 650px;
}


.carousel-caption{
    max-height: 300px !important ;
    max-width: 500px !important;
    text-align: right !important;
    right: 60px !important;
    margin-left: auto !important;
    background-color: rgba(7, 7, 7,0.3);
    
    
}

/*
.carousel-caption h1{
    font-size: 60px;
   color: darkorange;
    border-color: dodgerblue;
    
}*/

  .carousel-caption h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Merienda', cursive;
}

h5{
    color: rgb(252, 255, 101);

}

.carousel-caption p{
    margin-top: 40px;
    text-align: center;
    color: #fff;
    
}



.carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    background: transparent !important;
    border: 2px solid #fff !important;
    margin-top: 15px;
}


.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}


.navbar .container .navbar-brand{
    color: floralwhite;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}


.navbar .container .navbar-brand:hover{
    color: floralwhite;
}

.navbar-light .navbar-nav .nav-item .nav-link.active{
    color: rgba(255, 255, 255, 0.932);
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: rgba(247, 239, 239, 0.904);
}

.navbar-light .navbar-nav .nav-item .nav-link:focus, .navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: floralwhite;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
}

.w-100{
    height: 100vh;
}


@media only screen and (max-width: 1000px){
    .navbar-nav.ml-auto{
        background: rgba(0, 0, 0,0.7);
    }

    .container .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}












